<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Details Page</title>
</head>
<body>
    <table class="table">
        <tr>
            <td>Seller Name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Email ID</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input type="number" class="form-control"></td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td><input type="date" class="form-control"></td>
        </tr>
        <tr>
            <td>District</td>
            <td><select name="" id="" class="form-control">
                <option value="Chennai">Chennai</option>
                <option value="Trichy">Trichy</option>
                <option value="Madurai">Madurai</option>
                <option value="Thanjavur">Thanjavur</option>
                <option value="Theni">Theni</option>
            </select></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="age" class="form-control"></td>
        </tr>
        <tr>
            <td>Aadhar Number</td>
            <td><input type="number" class="form-control"></td>
        </tr>
        <tr>
            <td><input type="radio"></td>
            <td>Agree Terms and Condition</td>
        </tr>
        <tr>
            <td></td>
            <td><Button class = "btn btn-primary" >Submit</Button></td>
        </tr>
    </table>
    
</body>
</html>