<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
</head>
<body>
    <table class="table">
        <tr>
            <td>Product Name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Product Details</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Seller Name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Manufacuturer Name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Manufacturing Date</td>
            <td><input type="date" class="form-control"></td>
        </tr>
        <tr>
            <td>Expiry Date</td>
            <td><input type="date" class="form-control"></td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td><input type="number" class="form-control"></td>
        </tr>
        <tr>
            <td><input type="radio"></td>
            <td>Agree Terms and Condition</td>
        </tr>
        <tr>
            <td></td>
            <td><Button class = "btn btn-danger" >Submit</Button></td>
        </tr>
    </table>
</body>
</html>